export PATH="$PATH:$HOME/.cargo/bin"

export XCURSOR_THEME="$XCURSOR_THEME:/usr/share/icons"
export GTK_THEME="Gruvbox-Material-Dark"
export XCURSOR_THEME="macOS-White"

export EDITOR="nvim"

xrandr --output HDMI-A-0 --mode "1920x1080"
