window#waybar {
	font-family: "CaskaydiaCove Nerd Font";
	font-size: 12px;

	background: transparent;
}

.modules-left, .modules-center, .modules-right {
	padding: 0px 8px 8px 8px;
}

#custom-distro, #workspaces, #clock, #tray, #wireplumber {
	background: rgb(28, 28, 30);
	padding: 0px 12px 0px 12px;
	border-radius: 32px;
	margin: 0px 4px 0px 2px;
}

#custom-distro {
	padding-right: 14px;
	font-size: 16px;
}

#workspaces {
	padding: 0px 2px 0px 2px;
}


#workspaces button {
	border-radius: 32px;

	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	margin: 4px;

	background: rgb(36, 36, 38);
    border: none;
}

#workspaces button.visible {
	padding: 0px 16px 0px 16px;
	background: rgb(255, 141, 40);
	color: rgb(36, 36, 38);
}
