window#waybar {
	font-family: "CaskaydiaCove Nerd Font";
	font-weight: bold;
	font-size: 12px;

	background: transparent;
	color: white;
}

.modules-left, .modules-center, .modules-right {
	padding: 0px 8px 8px 8px;
}

#custom-night, #custom-distro, #custom-player, 
#workspaces, #clock, #tray, #wireplumber, #battery, #network {
	background: rgb(28, 28, 30);
	padding: 0px 12px 0px 12px;
	margin: 0px 4px 0px 2px;
	border-radius: 16px;
}

#network.ethernet, #network.disconnected, #custom-night {
	padding-right: 17px;
	font-size: 14px;
}

#custom-distro {
	padding-right: 15px;
	font-size: 16px;
}

#workspaces {
	padding: 0px 1px 0px 1px;
}

#workspaces button {
	border-radius: 16px;

	padding: 0 24px 0 24px;
	margin: 4px;

	background: rgb(36, 36, 38);
	color: white;

	transition: none;
	text-shadow: none;
	box-shadow: none;
	border: none;
}

#workspaces button.urgent {
	background: rgb(233, 21, 45);
}

#workspaces button.visible {
	padding: 0px 48px 0px 48px;
	background: rgb(255, 141, 40);
	color: rgb(36, 36, 38);
}
